/*--Written by Rennie Kipchirchir on 09/25/23-------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth; /*for smooth movement of page*/
}

body {
    background: rgba(0, 0, 0);
    overflow-x: hidden;
}

/*Style for header of the website*/
.head {
    z-index: 10; /*appear infront of background*/
    position: sticky;
    top: 0; /*position at the top*/
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/*log image styling*/
.logo {
    width: 10%;
    height: auto;
    padding: 0.5%;
}

/*no style for the list items in menu*/
.menu {
    list-style: none;
}

/*-----------------------------------home page styling---------------------*/

#home {
    position: relative;
    background-image: url(Images/home1.jpg); /*adds background image to page*/
    width: 100%; /*cover entire page width*/
    height: 100vh; /*adjust to visible height of the page*/
    background-size: cover; /*to allow even scaling depending on page size*/
    background-position: center; /*puts scale focus to center*/
    background-repeat: no-repeat; /*display image only once*/
}

.home-text {
    display: flex; /*align-items horizontally*/
    align-items: center; /*positon items at center*/
    justify-content: center;
    flex-direction: column; /*align items vertically now */
    min-height: 100vh;
    text-align: center; /*center the text*/
}

/*Styling the name of the business*/
.home-text p {
    color: rgb(150, 2, 2);
    font-size: 50px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
}

/*Styling the catch phrase of the home page*/
.home-text h1 {
    color: rgba(255, 235, 205, 0.894);
    margin-top: 20px;
    font-size: 30px;
}

/*styling the home page schedule button */
.btn {
    margin-top: 40px;
    background-color: rgb(150, 2, 2);
    border-radius: 10px; /*remove sharp vertices*/
    font-size: 20px;
    color: rgba(255, 235, 205, 0.894); /*button-text color*/
    padding: 15px 30px; /*space text from edges*/
    cursor: pointer; /*chnages pointer to hand icos */
    transition: background-color 0.3s; /*for smooth transition*/
}

.btn:hover {
    background-color: rgb(247, 8, 8);
}

/*-----------------------------------about page styling---------------------*/

#about {
    padding-top: 2%; /*space from the top*/
}

/*styling the about container */
.about-container {
    display: flex; /*align items horizontally*/
    justify-content: space-between; /*put space between items */
    flex-wrap: wrap; /*to help adjust between horizontal and column alignment*/
}

/*styling the barber shop's about image */
.about-img {
    flex-basis: 30%; /*cover 30% of page */
    padding-left: 4%; /*pading from edges*/
    padding-top: 5%;
}

.about-img img {
    width: 80%;
    height: auto;
    border-top-right-radius: 200px; /*curve top right of image */
    border-bottom-right-radius: 200px; /*curve bottom right of image */
}

/*styling the about us information*/
.about-us {
    flex-basis: 60%; /*cover 60% of page */
}

.about-sub-title {
    color: rgb(150, 2, 2);
    font-weight: bold;
    font-size: 50px;
    text-align: center; /*move text center of div box*/
    width: 80%;
}

.about-us p {
    color: rgba(255, 235, 205, 0.894);
    padding-top: 5%;
    width: 80%;
    font-size: 20px;
}

/*style for the team part in about page */

.team-title {
    width: 100%;
    text-align: center; /*puts text center of page */
    padding-top: 5%;
    padding-bottom: 5%;
}
.team-title h1 {
    color: rgb(150, 2, 2);
    padding-top: 7%;
}

.team {
    display: flex; /*align items horizontally */
    justify-content: space-between; /*space items*/
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
}

.barber {
    flex-grow: 1; /*ensure every item in the div box take up equal space*/
    display: flex;
    align-items: center;
    flex-direction: column; /*make items align horizontally*/
}

/*styling barber's images */
.barber img {
    border-radius: 50%; /*make the images round */
    width: 60%;
    height: 60%;
    object-position: top; /*to show object fit where to start cover*/
    object-fit: cover; /*resizes images while mantaining its ratio*/
    display: block; /*evenly stretches width of image in relation to screen*/
}

.barber h1 {
    color: rgb(150, 2, 2);
    margin-top: 10px;
}

/*style thse barber's social icons */
.fab {
    margin-top: 30px;
}

.social-icons a {
    font-size: 30px;
    margin-right: 15px;
    color: rgb(150, 2, 2);
    display: inline-block; /*allows me to tweak icon layout*/
    transition: transform 0.5s; /*any change to icon layout takes this time*/
}

/*adds hover efeect to the social icons*/
.social-icons a:hover {
    color: rgb(247, 8, 8);
    transform: translateY(-5px); /*moves icon 5 pixels up along y-axis*/
}

/*-------------------------------services--------------------------------*/

#service {
    position: relative;
}

/*styling the title of the page*/
.service-title {
    font-size: 25px;
    width: 100%;
    color: rgb(150, 2, 2);
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

.image-box {
    display: flex;
    justify-content: space-between; /*align items center and spaced*/
    padding: 0 4%; /*only padd left and right*/
}
.s-image {
    position: relative; /*allows me to postion text relative to image*/
    flex: 1; /*grow and shrink evenly*/
    padding: 2%;
}

.s-image img {
    border-radius: 5px; /*remove sharp vertices*/
    width: 100%;
    height: 100%;
    object-position: top; /*to show object fit where to start cover*/
    object-fit: cover;
    display: block; /*evenly stretch the image*/
}

.s-image img:hover {
    transform: scale(1.1); /*icrease image dimensons by 110%*/
    transition: transform 0.3s; /*transfom time taken*/
}

/*styling for text inside the service image*/
.service-text {
    position: absolute; /*enables to shift postions relative to image*/
    color: rgb(150, 2, 2);
    font-size: 24px;
    top: 50%;
    left: 50%; /*set text to 50% of image*/
    transform: translate(-50%, -50%); /*always center the text in the image */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

/*-----------------------------contact--------------------*/

/*styling for contact page*/
#contact {
    padding-top: 5%;
}
.contact-box {
    display: flex;
    justify-content: center; /*siplay horizontal and spaced*/
    flex-wrap: wrap; /*components to be arranged verticall on snmall screen*/
    padding: 0 4%;
}

.contact-title {
    width: 100%;
    color: rgb(150, 2, 2);
    width: 100%;
    padding-bottom: 2%;
    font-size: 22px;
}

.contact-left {
    flex-basis: 35%; /*left side take only 35% of page*/
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    margin-right: 15px;
    font-size: 25px;
}

.contact-info {
    display: flex;
    flex-direction: column; /*put contact-;eft items to align vertically*/
}
.contact-info p {
    color: rgb(150, 2, 2);
    font-size: 20px;
}

/*stylinh for contact-icons i.e phone icon */
.contact-icons {
    text-decoration: none; /*remove text decorations*/
    font-size: 30px;
    margin-right: 15px;
    color: rgb(150, 2, 2);
    display: inline-block; /*enables adjustment of icon layout*/
    transition: transform 0.5s;
    vertical-align: middle; /*align icons with text vertically*/
}

.contact-icons:hover {
    color: rgb(247, 8, 8);
    transform: translateY(-5px); /*move up 5px*/
}

.contact-right {
    flex-basis: 60%; /*right take 60% of page*/
}

/*styling for form */
.contact-right form {
    display: flex;
    flex-direction: column; /*align form items vertically*/
    padding: 3%;
    gap: 10px;
    font-size: 30px;
}

/*styling for inside the bozes of the form items */
.contact-right form input,
.contact-right form select,
.contact-right form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 235, 205, 0.894);
    border-radius: 6px;
    font-size: 18px;
    background: rgba(255, 235, 205, 0.894);
}

/*styling for the submit button for the form*/
.btn-2 {
    margin-top: 20px;
    background-color: rgb(150, 2, 2);
    border-radius: 10px;
    font-size: 18px;
    color: rgba(255, 235, 205, 0.894);
    padding: 15px 30px;
    cursor: pointer; /*mouse to hand pointer upon hover*/
    transition: background-color 0.3s; /*for smooth transition*/
    width: 40%;
}

.btn-2:hover {
    background-color: rgb(247, 8, 8);
}

/*-----------------------------------footer---------------------------*/

.footer {
    color: rgb(150, 2, 2);
    width: 100%;
    text-align: center;
    margin: 3%;
    font-size: 16px;
}

/*styling for a screen size 1050 px wide or small */
@media only screen and (max-width: 1050px) {
    nav ul li a {
        font-size: 20px !important; /*overide anyting overiding this style*/
    }

    nav ul li {
        padding: 20px !important;
    }

    .home-text p {
        font-size: 42px;
    }

    .btn {
        font-size: 17px;
    }
    .about-sub-title {
        font-size: 38px;
        text-align: center;
        width: 80%;
    }
    .about-us p {
        font-size: 15px;
    }

    .about-img img {
        width: 90%; /*adjust width to 90% of div box */
    }

    .team-title {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .team-title h1 {
        color: rgb(150, 2, 2);
        padding-top: 7%;
    }

    .barber img {
        width: 60%;
        height: 60%;
    }

    .barber h1 {
        font-size: 23px;
    }

    .social-icons a {
        font-size: 23px;
    }

    .fab {
        margin-top: 20px;
    }

    .social-icons a {
        font-size: 23px;
    }

    .service-text {
        font-size: 18px;
    }

    .contact-info p {
        font-size: 15px;
    }

    .social-icons a {
        font-size: 30px;
    }

    .contact-right form {
        font-size: 25px;
    }

    .contact-right form input,
    .contact-right form select,
    .contact-right form textarea {
        font-size: 18px;
    }

    .btn-2 {
        font-size: 16px;
        width: 50%;
    }
}

/*for screens 900px or smaller*/
@media only screen and (max-width: 900px) {
    .image-box {
        flex-direction: column; /*make items align vertically not horizontal*/
    }

    .service-title {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .s-image {
        padding-bottom: 5%;
    }

    .s-image img {
        width: 100%;
        height: 100%;
    }

    .service-text {
        font-size: 30px;
    }

    .contact-box {
        flex-direction: column; /*align items vertical*/
    }

    .contact-left {
        padding-bottom: 5%;
        padding-left: 4%;
        flex-basis: 100%; /*item now takes 100% width of the div box not 35%*/
    }

    .contact-right {
        margin-bottom: 5%;
        flex-basis: 100%; /*item now takes 100% width of the div box not 65%*/
    }

    .contact-info p {
        font-size: 22px;
    }

    .contact-icons {
        font-size: 25px;
        margin-right: 5px;
    }

    .social-icons a {
        font-size: 25px;
    }
}

/*for screen size 650px or small */
@media only screen and (max-width: 650px) {
    .about-img {
        flex-basis: 100%; /*take full width div box*/
    }
    .about-img img {
        width: 90%; /*cover 90% width of the div box */
        border-radius: 10px;
    }

    .about-us {
        flex-basis: 100%;
        padding: 4%;
    }
    .about-sub-title {
        width: 100%;
    }

    .about-us p {
        width: 100%;
        margin-right: 4%; /*space 4% from right*/
    }
}

/*for screens 500ps or smaller */
@media only screen and (max-width: 500px) {
    nav ul li a {
        font-size: 15px !important; /*override style for this before */
    }

    nav ul li {
        padding: 10px !important;
    }

    .logo {
        height: auto; /*adjust height accordingly */
        width: 15%;
    }

    .home-text p {
        font-size: 24px;
    }
    .home-text h1 {
        font-size: 18px;
    }

    .btn {
        border-radius: 10px;
        font-size: 15px;
        padding: 15px 20px;
    }

    .about-sub-title {
        font-size: 30px;
    }
    .about-us p {
        padding-top: 5%;
        font-size: 15px;
    }

    .team-title h1 {
        padding-bottom: 5%;
        font-size: 30px;
    }

    .team {
        flex-direction: column;
    }

    .barber h1 {
        font-size: 25px;
    }

    .social-icons a {
        font-size: 23px;
    }

    .fab {
        margin-top: 20px;
    }

    .social-icons a {
        font-size: 23px;
    }

    .service-title {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 18px;
    }
    .image-box {
        flex-direction: column; /*align items vertically*/
    }

    .s-image {
        padding-bottom: 5%;
    }

    .service-text {
        font-size: 18px;
    }

    .contact-title h1 {
        font-size: 30px;
    }

    .contact-info p {
        font-size: 20px;
    }

    .contact-icons {
        font-size: 15px;
        margin-right: 5px;
    }

    .social-icons a {
        font-size: 25px;
    }

    .contact-left {
        flex-basis: 100%;
        padding: 6%;
    }

    .contact-right {
        flex-basis: 100%; /*100% width of div box*/
        padding: 4%;
    }

    .contact-right form {
        font-size: 25px;
    }

    .btn-2 {
        font-size: 15px;
        padding: 15px 20px; /*reduce inner padding of button*/
        width: 60%;
    }
}
